@{
    ViewData["Title"] = "Success";
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<h1 class="text-center text-center-success"> Payment Completed!</h1>
            
        </div>
    </div>
</div>